################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BillingApp/FileContentIndex/8b9f1b9e-10f9-4f5b-86c3-9572d42b247c.vsidx
/.vs/BillingApp/FileContentIndex/8b9f1b9e-10f9-4f5b-86c3-9572d42b247c.vsidx
